/* Reset some default browser styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  height: auto; /* 변경 */
  overflow-y: auto; /* 변경 */
}

/* Global box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Basic typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}

html, #root {
  height: auto; /* 변경 */
}
